---
layout: default
title: What's on
permalink: /whats-on/
iframe_src: "https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=eova0tobuo97abv48f9vn438k0%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=Europe%2FLondon"
xml_url: "http://www.google.com/calendar/feeds/eova0tobuo97abv48f9vn438k0%40group.calendar.google.com/public/basic"
ics_url: "https://www.google.com/calendar/ical/eova0tobuo97abv48f9vn438k0%40group.calendar.google.com/public/basic.ics"
---
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">This month's <strong>Calendar</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-8">
            <iframe src="{{ page.iframe_src }}" style=" border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col-md-4">
            <p>As well as the calendar, have a look at <a href="https://www.dropbox.com/s/pmm7ub2aqf8bhc5/whats-on.pdf?dl=0">this month's "What's On?" sheet</a> to find out what is currently happening at St Mark's.<p>
            <p>You can find out more about our regular activities further down this page...</p>
            <p>Would you like to subscribe to the calendar? Either click the button on the Google calendar, or you can copy and paste the appropriate link into your feed reader or calendar application: <strong><a href="{{ page.xml_url }}">xml</a></strong> or <strong><a href="{{ page.ics_url }}">.ics</a></strong> (right click to copy the link).</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% for box in site.whats_on %}
{% include box.html %}
{% endfor %}
