---
layout: default
---
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About <strong>St Mark's New Ferry</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="/img/slide-1.jpg" alt="">
        </div>
        <div class="col-md-6">
        {{ content }}
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Our <strong>Team</strong>
            </h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="/img/andy.jpg" alt="">
                <h3>Andrew Greenhough<br/>
                    <small>Vicar</small>
                </h3>
            </div>
            <div class="col-sm-8">
                <p>Andrew became vicar in 2005, having previously served in churches in mid-Cheshire and the borders of Manchester.</p>
                <p>Andrew is a keen musician, and absolutely the jack of many trades (piano, guitar, bass, drums, trumpet) and not at all the master of any!</p>
                <p>Although getting on a bit, he still manages to get around the football pitch on a Sunday evening, albeit at a slightly slower pace than he once enjoyed!</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="/img/des.jpg" alt="">
                <h3>Des Drury<br/>
                    <small>Associate Minister</small>
                </h3>
            </div>
            <div class="col-sm-8">
                <p>Des became a Christian through the ministry at St Mark's, and has served as Reader, Warden, Treasurer, and Youth Leader!</p>
                <p>Des is now retired, but worked as a baker for all his working life. His children have all flown the nest, but he is busy as a grandparent now!</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="/img/mike.jpg" alt="">
                <h3>Mike Gillam<br/>
                    <small>Ministry Trainee</small>
                </h3>
            </div>
            <div class="col-sm-8">
                <p>Mike's a St Mark's lad from birth, growing up through the children's and youth work. He's recently returned from Preston (Uni & vocational training) and is now serving back at St Mark's on the staff team. Mike oversee's our children's and youth ministries and pitches in to most aspects of parish life, while pursuing theological training through the <a href="http://www.northwestpartnership.com/trainingcourse.php">Northwest Theological Training Centre</a>.</p>
                <p>Mike enjoys his X-Box, is a member of Bebington Archery Club, and plays football Sunday nights, but makes sure he is home in time to watch Match of the Day!</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
