---
layout: default
---
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Contact <strong>St Mark's New Ferry</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2380.9102009705393!2d-2.998313!3d53.362762000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b2752141a6549%3A0xaf74200d8aed0539!2sSt+Mark&#39;s+New+Ferry!5e0!3m2!1sen!2suk!4v1403791563775" width="100%" height="400" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="col-md-4">
            <p>Phone: <strong>0151 645 2638</strong>
            </p>
            <p>Email: <strong>test@example.com</strong>
            </p>
            <p>Address: <strong>23 New Chester Road<br>New Ferry<br>Wirral<br>CH62 1DG</strong>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Contact <strong>form</strong>
            </h2>
            <hr>
            <p>This contact form is just the form elements, it is not a working form. You will have to make the form work by yourself, or take it out if you can't figure out how to make it work.</p>
            <form role="form">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Email Address</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Phone Number</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label>Message</label>
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
