<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page.title %}{{ page.title}} - {% endif %}{{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/business-casual.css" rel="stylesheet">
</head>

<body>

    {% include navbar.html %}

    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->

    {% include footer.html %}

    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
    // Activates the Carousel
    $('.carousel').carousel({
        interval: 5000,
        pause: ''
    })
    </script>

</body>

</html>
